@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro', sans-serif;
  background: #424560;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}